[Unit]
Description=Server ModBus
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
User=root
WorkingDirectory=/etc/ModBusServer
ExecStart=sudo python3 -u /etc/ModBusServer/modbusServer.py

StandardOutput=append:/var/log/modbus.log
StandardError=append:/var/log/modbus.log

#StandardOutput=append:/dev/null
#StandardError=append:/dev/null

[Install]
WantedBy=multi-user.target
